<div class="header">
    <div class="header__logo">
        <i class="icon-logoDesignBlack" style="font-size:250px;"></i>
    </div>

    <div class="header__bottom__container">
        <div class="header__bottom">
            <div class="header__bottom__search">
                <input type="text" class="header__bottom__search__input" placeholder="Tìm sản phẩm ...">
                <button class="header__bottom__search__btn">Tìm kiếm</button>
            </div>
            <ul class="header__bottom__list">
                <li class="header__bottom__item">Váy</li>
                <li class="header__bottom__item">Bông</li>
                <li class="header__bottom__item">Balo</li>
                <li class="header__bottom__item">Dép</li>
                <li class="header__bottom__item">Dép</li>
                <li class="header__bottom__item">Sơn</li>
                <li class="header__bottom__item">Áo</li>
            </ul>
        </div>
        <div class="header__bottom__icon">
            <i class="glyphicon glyphicon-shopping-cart"></i>
        </div>
    </div>
</div>