<div class="body__container">
    <div class="body__fluid">
        <div class="mynavbar">
            <div class="mynavbar__item" style="border-bottom: 4px solid #fa7d19;">Dạo</div>
            <div class="mynavbar__item">Tất cả sẩn phẩm</div>
            <div class="mynavbar__item">Tiện ích</div>
            <div class="mynavbar__item">Mô hình</div>
            <div class="mynavbar__item">Hàng mới về</div>
        </div>
        <div class="content__container">
            <div class="leftbar">
                <div class="leftbar__title">
                    <i class="material-icons">&#xe8ef;</i> <span>Danh mục</span>
                </div>
                <ul class="leftbar__list">
                    <li class="leftbar__list__item">Sản phẩm</li>
                    <li class="leftbar__list__item">Tiện ích</li>
                    <li class="leftbar__list__item">Mô Hình</li>
                    <li class="leftbar__list__item">Hàng mới về</li>
                </ul>
            </div>
            <div class="content">
                <div class="content__navbar__container">
                    <div class="content__navbar">
                        <span>Sắp xếp theo</span>
                        <ul class="content__navbar__sort">
                            <li class="content__navbar__sort__item">Phổ biến</li>
                            <li class="content__navbar__sort__item">Mới nhất</li>
                            <li class="content__navbar__sort__item">Bán chạy</li>
                            <li class="content__navbar__sort__item">Bán chạy</li>
                            <li class="content__navbar__sort__item">Giá</li>
                        </ul>
                    </div>
                    <div class="content__navbar__pagechange">
                        <span>1/1</span>
                        <button>prev</button>
                        <button>next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>